.header {
	height: 100vh;
	position: relative;
	background-color: #c4c4c4;
	color: hsl(0, 0%, 100%);
	background-image: url("./../img/slider-bg/01.jpg") ;
	background-repeat: no-repeat;
	background-size: cover;
	}

.header a {
	color: #fff;
}

.header__content {
	position: absolute;
	z-index: 9;
	top: 50px;
	left: 70px;
	right: 70px;
	bottom: 80px;
	pointer-events: none;
	background-color: rgba(255, 255, 255, 0.3);

	@media (max-width: 1200px) {
		top: 40px;
		left: 40px;
		right: 40px;
		bottom: 60px;
	}

	@media (max-width: 767px) {
		top: 30px;
		left: 5%;
		right: 5%;
		bottom: 30px;
	}

}

