:root {
  --radial-bg: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.20) 100%);
  --linear-bg: linear-gradient(181deg, rgba(0, 0, 0, 0.20) 0.91%, rgba(255, 255, 255, 0.00) 116.71%, rgba(255, 255, 255, 0.00) 116.72%);
}

.slide {
  height: 100vh;
  overflow: hidden;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #555;
  //background-image: url("./../img/slider-bg/01.jpg");
  background: var(--radial-bg), var(--linear-bg), url("./../img/slider-bg/01.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  &::before {
    content: '';
  }

  cursor: grab;
  &:active {
    cursor: grabbing;
  }

  @media(max-width: 1200px){
    padding-bottom: 60px;
  }
  @media(max-width: 767px) {
    padding-top: 100px;
    padding-bottom: 40px;
  }

}

.slide__header {
}

.slide__tagline {
}

.slide__title {

}

.slide__locations {
}